<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
        {% include top_nav.html %}

        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}
        {% include js_files.html %}
        <script type="text/javascript" src="{{ "/assets/js/lightbox.js" | relative_url }}"></script>
        <link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | relative_url }}">
    </body>

</html>
